@model ERP_Project.Models.ViewModel.DepartmentsVM
@{
}

@section DeptTeamsjscss{
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/datatables.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/simple-line-icon.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/select2.css">
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    Add Department
                </h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Apps</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <label class="form-label">Company:</label>
                                        <select class="form-control btn-square" id="company" asp-for="departments.CompanyId" required>
                                        </select>
                                        <span asp-validation-for="departments.CompanyId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="container-fluid">
                                            <div class="select2-drpdwn">
                                                <div class="row">
                                                    <!-- Default Textbox start-->
                                                    <div class="col-md-12">

                                                        <div class="mb-2">
                                                            <div class="col-form-label">Select Department Head:</div>
                                                            <select class="js-example-placeholder-multiple DepartmentHeadPlaceHolder col-sm-12" id="employee" asp-for="EmployeesIds" multiple="multiple">
                                                      
                                                            </select> @* asp-items="ViewBag.EmployeeId"*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="departments.DepartmentName" class="form-label">Department Name:</label>
                                        <input asp-for="departments.DepartmentName" class="form-control" type="text" placeholder="Name must be Unique" required>
                                        @Html.ValidationMessageFor(m => m.departments.DepartmentName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Add" class="btn btn-success mr-3" />
                                        <a class="btn btn-danger" href="~/Department/Index">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section DeptTeamsjs{
    <script src="../assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datatable/datatables/datatable.custom.js"></script>

    <script src="../assets/js/icons/icons-notify.js"></script>
    <script src="../assets/js/icons/icon-clipart.js"></script>

    <script src="../assets/js/select2/select2.full.min.js"></script>
    <script src="../assets/js/select2/select2-custom.js"></script>
  
    <script type="text/javascript">

        $(".DepartmentHeadPlaceHolder").select2({
            placeholder: "Select Department Head "
        });

        $(document).ready(function () {  //dollar represent the function will execute when dom is ready
            debugger;
            var companyddl = $('#company');
            var employeeddl = $('#employee');

            $.ajax({
                type: "post",
                url: "/Department/GetCompanies",
                datatype: "json",
                traditional: true,
                success: function (data) {   //data is the json response from server
                    debugger;
                    companyddl.append($('<option/>', { value: -1, text: '--Select Company--' }));
                 //   employeeddl.append($('<option/>', { value: -1, text: '--Select Team Heads--' }));
                 //   employeeddl.prop('disabled', true);

                    $(data).each(function (index, item) {
                        companyddl.append($('<option/>', { value: item.value, text:item.text }));
                    });
                }
            });

            companyddl.change(function () {
                debugger;
                if ($(this).val() == '-1')   //if the selected value is -1(means no value selected)
                {
                    employeeddl.empty();
                 //   employeeddl.append($('<option/>', { value: -1, text: '--Select Department Heads--' }));
                    employeeddl.val('-1');
                    companyddl.prop('disabled', true);
                }
                else {
                    $.ajax({
                        type: "post",
                        url: "/Department/GetEmployeesByCompanyId",
                        data:{ Companyid: $(this).val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {   
                            debugger;
                            employeeddl.empty(); //empty already existing values
                         //   employeeddl.append($('<option/>', { value: -1, text: '--Select Department Heads--' }));
                            employeeddl.prop('disabled', false);

                            $(data).each(function (index, item) {
                                employeeddl.append($('<option/>', { value: item.value, text: item.text }));
                            });
                        }
                    });
                }
            });

        });
    </script>

}



