
@{
    ViewData["Title"] = "ShowMsg";
}

<br />
<br />
<br />

<div class="container">
    <h4><em>"Your early checkout request has been submitted to the Admin. Kindly wait for approval"</em></h4>
    <br />
    <a class="btn btn-danger" href="~/User/EmployeeAttendance/@ViewBag.id">Back</a>
</div>
