
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Terms and Conditions for Employees</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6><b><u>Late coming Policy and rules for Employee and internee:-</u></b></h6><br />
                        <p>
                            •	The office timing is 9:30 am to 9;55 pm (Each employee is responsible to complete his/her decided working hours)...<br />
                            •	Prayers and lunch break will be at 1:30 pm till 2:30(only for break included employees).<br />
                            •	If any employee wants to go for Nimaz. You must need to time-out and time-in<br />
                            •	No break is for part time job holders and part time internee.<br />
                            •	Higher management has authority to ask you about to stay out of their cabin or can mention in your report without let you know. This would have negative impact on your work performance report.<br />
                            •	Employee can come to office within 15 minutes of office timing.  If any employee will reach the office after 15 minutes will be considered as late, rather than have any genuine issue.<br />
                            •	In case of 2 late comings ,1 half day will be consider as absent and in case of 3 late comings one day will be considered absent rather than in case of a genuine issue.<br />

                        </p>
                        <br />
                       <h6><b><u>Leave Policy:-</u></b></h6><br />
                        <p>
                            •	Employees are allowed to take one-day leave in a month. More than one leave in a month will be considering leave without pay.<br />
                            •	If any employee wants to go for a leave, he/she should apply for the approval. Once it approves he/she can leave. If employee will be on leave without approval it will be consider as an absent<br />
                            •	Employees have to inform the HR department to take leave or half leave before 2 days. If you don’t let us no know before 2 days leave will not be accept rather than in exceptional case.<br />
                            •	Leave, attendance (time-in, time-out), reporting all will be through company’s specified portal.<br />
                            •	If any employee do check-in but don’t check-out will be consider as absent.<br />

                        </p>
                        <br />
                        <h6><b><u>Reporting Rules:-</u></b></h6><br />
                        <p>
                            •	What you have done in a full day proper details of the work by listing out each.<br />
                            •	If a designer designs a post so he has to tell how many posts he has designed with an example.<br />
                            •	If developers have done their work, they must tell us the full report how many apps of which topic all should be report on daily basis.<br />

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
