@model ERP_Project.Models.ViewModel.DepartmentsVM
@{
}

@section DeptTeamsjscss{
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/datatables.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/simple-line-icon.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/select2.css">
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    Add Designation
                </h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Apps</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">


                                        <label class="form-label">Company:</label>
                                        <select class="form-control btn-square" id="company" asp-for="designations.CompanyId" required>
                                        </select> @*asp-items="ViewBag.CompanyId"*@

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <label class="form-label">Department:</label>
                                        <select class="form-control btn-square" id="department" asp-for="designations.DepartmentId" required>
                                        </select>   @*asp-items="ViewBag.DepartmentId"*@

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="designations.DesignationName" class="form-label">Designation Name:</label>
                                        <input asp-for="designations.DesignationName" class="form-control" type="text" placeholder="Name must be Unique" required>

                                    </div>
                                </div>

                            </div>

                            <br />

                            <div class="row">
                                <div class="col">
                                    <input type="submit" value="Add" class="btn btn-success mr-3" />
                                    <a class="btn btn-danger" href="~/Designation/Index">Back</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section DeptTeamsjs{
    <script src="../assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datatable/datatables/datatable.custom.js"></script>

    <script src="../assets/js/icons/icons-notify.js"></script>
    <script src="../assets/js/icons/icon-clipart.js"></script>

    <script src="../assets/js/select2/select2.full.min.js"></script>
    <script src="../assets/js/select2/select2-custom.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            debugger;
            var companyddl = $('#company');
            var departmentddl = $('#department');

            $.ajax({
                type: "post",
                url: "/Designation/GetCompanies",
                datatype: "json",
                traditional: true,
                success: function (data) {   //data is the json response from server

                    companyddl.append($('<option/>', { value: -1, text: '--Select Company--' }));
                    departmentddl.append($('<option/>', { value: -1, text: '--Select Department--' }));
                    departmentddl.prop('disabled', true);

                    $(data).each(function (index, item) {
                        companyddl.append($('<option/>', { value: item.value, text: item.text }));
                    });
                }
            });

            companyddl.change(function () {
                debugger;
                if ($(this).val() == "-1")   //if the selected value is -1(means no value selected)
                {
                    departmentddl.empty();
                    departmentddl.append($('<option/>', { value: -1, text: '--Select Department--' }));
                    departmentddl.val('-1');
                    departmentddl.prop('disabled', true);
                }
                else {
                    $.ajax({
                        type: "post",
                        url: "/Designation/GetDepartmentsByCompanyId",
                        data: { Companyid: $(this).val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            debugger;
                            departmentddl.empty(); //empty already existing values
                            departmentddl.append($('<option/>', { value: -1, text: '--Select Department--' }));
                            departmentddl.prop('disabled', false);

                            $(data).each(function (index, item) {
                                departmentddl.append($('<option/>', { value: item.value, text: item.text }));
                            });
                        }
                    });
                }
            });

        });
    </script>
}
