@model ERP_Project.Models.OfficialShifts

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    Edit Shifts Timming
                </h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="OfficialShifts"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Apps</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OfficialShiftsId" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="CompanyId" class="control-label"></label>
                                        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="ShiftId" class="control-label"></label>
                                        <select asp-for="ShiftId" class="form-control" asp-items="ViewBag.ShiftId"></select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Day" class="control-label"></label>
                                        <select asp-for="Day" id="select1" class="form-control">
                                            <option selected disabled>---Select Day---</option>
                                            <option>Monday</option>
                                            <option>Tuesday</option>
                                            <option>Wednesday</option>
                                            <option>Thursday</option>
                                            <option>Friday</option>
                                            <option>Saturday</option>
                                            <option>Sunday</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="BreakTime" class="control-label"></label>
                                        <input asp-for="BreakTime" class="form-control" />
                                        <span asp-validation-for="BreakTime" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="StartTime" class="control-label"></label>
                                        <input asp-for="StartTime" type="time" class="form-control" />
                                        <span asp-validation-for="StartTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="MaxStartTime" class="control-label"></label>
                                        <input asp-for="MaxStartTime" type="time" class="form-control" />
                                        <span asp-validation-for="MaxStartTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="MinEndTime" class="control-label"></label>
                                        <input asp-for="MinEndTime" type="time" class="form-control" />
                                        <span asp-validation-for="MinEndTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="EndTime" class="control-label"></label>
                                        <input asp-for="EndTime" type="time" class="form-control"  />
                                        <span asp-validation-for="MinEndTime" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col">
                                    <input type="submit" value="Update" class="btn btn-success mr-3" />
                                    <a class="btn btn-danger" asp-action="Index" asp-controller="OfficialShifts">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
